doctype html
html
  head
    meta(charset="utf-8")
    title #{page.name} | Calmbook
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="//unpkg.com/tailwindcss@1.0.5/dist/tailwind.min.css")
  body(class="bg-gray-100")
    div(class="container max-w-lg mx-auto my-4")
      h1(class="text-4xl font-bold text-center") #{page.name}
      each post in page.posts
        div(class="rounded-lg overflow-hidden shadow-lg my-8 px-6 py-6 bg-white")
          div(class="flex items-center")
            img(class="w-10 h-10 rounded-full mr-4" src="/img/jonathan.jpg" alt="")
            div(class="text-sm")
              p(class="text-gray-900 leading-none") #{page.name}
              p(class="text-gray-600") #{post.timestamp}
          div(class="my-6") !{post.message}
