doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  id https://calmbook.page/#{page.url}.xml
  title #{page.name}
  updated= moment(page.posts[0].timestamp).format("YYYY-MM-DDTHH:mm:ssZ")
  link(href='https://calmbook.page/'+page.url, rel='self')/
  icon= page.avatar
  logo= page.avatar
  each post in page.posts
    entry
      id= post.timestamp
      title= post.title
      updated= moment(post.timestamp).format("YYYY-MM-DDTHH:mm:ssZ")
      content
        | <![CDATA[
        div!= post.message
        div
          each image in post.images
            img(src=image alt="")/
        | ]]>
      - link = href='https://calmbook.page/'+page.url+'#'+post.timestamp
      link(href=link)= link
  generator Calmbook
