doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  link(href='https://calmbook.page/'+url+'.xml', rel='self')
  updated= moment(page.posts[0].timestamp).format("YYYY-MM-DDTHH:mm:ssZ")
  title #{page.name} | Calmbook
  icon!= page.avatar
  each post in page.posts
    entry
      title= post.title
      content!= post.message
      updated= moment(post.timestamp).format("YYYY-MM-DDTHH:mm:ssZ")
  generator Calmbook
