doctype html
html
  head
    meta(charset="utf-8")
    title #{page.name} | calmbook
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="//unpkg.com/tailwindcss@1.0.5/dist/tailwind.min.css")
    link(href="/"+page.username+".xml" type="application/atom+xml" rel="alternate" title=page.name)
  body(class="bg-gray-100")
    div(class="container max-w-lg mx-auto my-4")
      img(class="w-10 h-10 rounded-full m-auto" src=page.avatar alt=page.name)
      h1(class="text-3xl font-bold text-center") #{page.name}
      each post in page.posts
        div(class="rounded-lg overflow-hidden shadow-lg my-8 px-6 py-6 bg-white")
          div(class="flex items-center")
            img(class="w-10 h-10 rounded-full mr-4" src=page.avatar alt="")
            div(class="text-sm")
              p(class="text-gray-900 leading-none font-bold") #{page.name}
              a(class="float-left" href=`${page.username}@${post.id}`)
                p(class="text-gray-500")= moment(post.timestamp).format('YYYY-MM-DD HH:mm')
              a(class="float-right" href=`https://facebook.com/${page.username}/posts/${post.id}` target="_blank")
                small() 🔗
          div(class="my-6") !{post.message}
          each image in post.images
            img(class="max-w-full h-auto inline-block" src=image alt="")
          if post.poster
            div(class="v")
                img(class="max-w-full h-auto inline-block cursor-pointer" data-link=`/${page.username}/videos/${post.id}` src=post.poster alt="" onClick=`__embed(this)`)
    script(src='/embed.js')
